<div class="footer1_bg">
    <!-- start footer1 -->
    <div class="container">
        <div class="row  footer">
            <ul class="footer-nav">
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy Poilicy</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Paisadeal.org</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>

            <div class="copy text-center" style="margin-top:20px">
                <p class="link"><span>&#169; Paisadeal Project 2009-2017 Released</span></p>
                <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
    </div>
</div>