<div class="container">
    <div class="playlist-heading">FEATURED PLAYLIST</div>
    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-first" style="height:150px;width:100%;text-align:center;">
                <img src="/img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">Beautiful airports and subway stations</div>
    </div>
    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-second" style="height:150px;width:100%;text-align:center;">
                <img src="/img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">Beautiful airports and subway stations</div>
    </div>
    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-third" style="height:150px;width:100%;text-align:center;">
                <img src="/img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">The best surfing moments of 2015</div>
    </div>
    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-fourth" style="height:150px;width:100%;text-align:center;">
                <img src="/img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">The cutest things kids do everyday</div>
    </div>
    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-fifth" style="height:150px;width:100%;text-align:center;">
                <img src="/img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">The magical world of animals</div>
    </div>
    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-sixth" style="height:150px;width:100%;text-align:center;">
                <img src="/img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">Travellig tips from expert digital nomads</div>
    </div>
</div>